mRNA-Fold/translationrate/GSM346111.txt
mRNA-Fold/translationrate/GSM346114.txt
mRNA-Fold/translationrate/GSM346115.txt
mRNA-Fold/translationrate/GSM346116.txt
mRNA-Fold/translationrate/GSM346117.txt
mRNA-Fold/translationrate/GSM346118.txt
mRNA-Fold/translationrate/GSM346120.txt
mRNA-Fold/translationrate/GSM346122.txt